<div class="selMenu">
  <div id="selMenu1" routerLinkActive="active" (click)="goToSearchPage(); onClick($event)"
       [ngStyle]="{'background-color': filterVariable ? bgFilterPage:
                                       mapVariable ? bgMapPage: bgSearchPage
                                       }">

      <img id="imageInSelMenu1" src="assets/icons/search-icon.png">
      <div class="textSelMenu" >Search</div>
  </div>

  <div id="selMenu2" routerLinkActive="active" (click)="goToFilterPage(); onClick($event)"
       [ngStyle]="{'background-color': searchVariable ? bgSearchPage:
                                       mapVariable ? bgMapPage: bgFilterPage
                                       }">
    <img src="assets/icons/equal-icon.png" id="imageInSelMenu2">
  </div>

  <div id="selMenu3" routerLinkActive="active"  (click)="goToMapPage(); onClick($event)"
       [ngStyle]="{'background-color': searchVariable ? bgSearchPage:
                                       filterVariable ? bgFilterPage: bgMapPage
                                       }">
    <img src="assets/icons/coord-icon.png" id="imageInSelMenu3">
  </div>
</div>
<div id="selMenuLine"></div>
