/*==============MENU SEARCH FILTERS MAP================*/
.selMenu {
  width: 600px;
  clip-path: polygon(0 0, 85% 0%, 100% 100%, 0 100%);
  display: flex;
  margin-top: 50px;
}

#selMenu1 {
  width: 300px;
  height: 50px;
  background: #EA2340 0% 0% no-repeat padding-box;
  clip-path: polygon(0 0, 85% 0%, 100% 100%, 0 100%);
  display: flex;
  align-items: center;
}

#selMenu2, #selMenu3 {
  width: 150px;
  height: 40px;
  clip-path: polygon(0 0, 76% 0, 100% 100%, 24% 100%);
  margin-left: -38px;
  margin-top: 8px;
}

#selMenu2 {
  background: #062639 0% 0% no-repeat padding-box;
}


#selMenu3 {
  background: #6C7E8B 0% 0% no-repeat padding-box;
}

#selMenuLine {
  background: #EA2340 0% 0% no-repeat padding-box;
  width: 600px;
  height: 7px;
}

#imageInSelMenu1, #imageInSelMenu2, #imageInSelMenu3 {
  width: 25px; height: 25px;
}

.searchStyle {
  background-color: #EA2340;
}
.filterStyle {
  background-color: #062639;
}
.mapStyle {
  background-color: #6C7E8B;
}


#imageInSelMenu1 {
  padding-left: 180px;
}

#imageInSelMenu2 {
  padding-left: 85px; padding-top: 8px
}

#imageInSelMenu3 {
  padding-left: 85px; padding-top: 8px
}

.textSelMenu {
  padding-left: 5px;
  height: 25px;
  font: 13px/24px Raleway;
  color: #FFFFFF;
}
