<div class="base">

  <!--///////////////////////////////////////////This block is our information with Join Now button////////////////////////////////////////////////////////-->

  <div class="about">
    <div class="cornerLine"></div>
    <div class="threeTexts">
      <div class="bigtext">
        NEVER MISTAKEN
        <br>FOR ANYTHING ELSE
      </div>
      <div  class="desctext">
        Candy canes topping dessert jelly beans pie jelly beans sweet roll. Toffee cotton candy
        cake chocolate cake. Bonbon gummi bears jelly-o bonbon fruitcake tootsie roll cake
        cookie gingerbread. Icing wafer pie pudding ice cream bonbon halvah bonbon topping.
        Donut halvah tiramisu bear claw tart.
      </div>
      <div class="righttext"><p>Affordable prices</p> <p>Guaranteed cars</p>
        <button class="join">Join now!</button>
      </div>
    </div>
  </div>

  <!--////////////////////////////////////// This block is our TOP 3 cars TEXT/////////////////////////////////////////////////////////////-->

  <div class="mostpopular">
    <div class="numbertext">3</div>
    <div class="bigtext" style="color: #062639; padding-left: 0">MOST POPULAR <br>CHOICES IN YOUR AREA</div>
    <div class="desctext" style="color: #062639; padding-left: 350px">Candy canes topping dessert jelly beans pie jelly beans sweet roll. Toffee cotton candy
      cake chocolate cake. Bonbon gummi bears jelly-o bonbon fruitcake tootsie roll cake
      cookie gingerbread. Icing wafer pie pudding ice cream bonbon halvah bonbon topping.
      Donut halvah tiramisu bear claw tart.
    </div>
  </div>

  <!--////////////////////////////////////// This block is our TOP 3 cars IMAGES/////////////////////////////////////////////////////////////-->

  <div class="carsBlue">
    <div class="carsRed">
      <img class="topImg1" src="assets/images/zaz.png" alt="" />
      <img class="topImg2" src="assets/images/gaz.png" alt="" />
      <img class="topImg3" src="assets/images/azlk.png" alt="" />
    </div>
  </div>

  <!--////////////////////////////////////// This block is our TOP 3 cars PRICES/////////////////////////////////////////////////////////////-->

  <div class="carsPrices">
    <div class="topPrice1">
      <div class="currency">$</div>
      <div class="amount">230</div>
      <div class="perDay">PER DAY</div>
    </div>
    <div class="topPrice2">
      <div class="currency">$</div>
      <div class="amount">300</div>
      <div class="perDay">PER DAY</div>
    </div>
    <div class="topPrice3">
      <div class="currency">$</div>
      <div class="amount">180</div>
      <div class="perDay">PER DAY</div>
    </div>
  </div>

  <!--////////////////////////////////////// This block is our Latest feedback from costumers/////////////////////////////////////////////////////////////-->

  <div class="feed_main">

    <div class="bigText" style="color: #062639; padding-left: 10%; padding-top: 5%">
      Latest FEEDBACKS
      <br>fROM our customers
    </div>

    <div class="feeds_list">
      <div class="feed_user">
        <img src="assets/icons/user-icon.jpg" width="90" height="90">
        <p class="feed_text">Candy canes topping dessert jelly beans pie jelly beans sweet roll. Toffee cotton candy cake
          chocolate cake.</p>
        <p class="name_user">Candy Miles</p>
        <p class="feed_date">22 September 2019</p>
      </div>
      <div class="feed_user">
        <img src="assets/icons/user-icon.jpg" width="90" height="90">
        <p class="feed_text">Candy canes topping dessert jelly beans pie jelly beans sweet roll. Toffee cotton candy cake
          chocolate cake.</p>
        <p class="name_user">Candy Miles</p>
        <p class="feed_date">22 September 2019</p>
      </div>
      <div class="feed_user">
        <img src="assets/icons/user-icon.jpg" width="90" height="90">
        <p class="feed_text">Candy canes topping dessert jelly beans pie jelly beans sweet roll. Toffee cotton candy cake
          chocolate cake.</p>
        <p class="name_user">Candy Miles</p>
        <p class="feed_date">22 September 2019</p>
      </div>
      <div class="feed_user">
        <img src="assets/icons/user-icon.jpg" width="90" height="90">
        <p class="feed_text">Candy canes topping dessert jelly beans pie jelly beans sweet roll. Toffee cotton candy cake
          chocolate cake.</p>
        <p class="name_user">Candy Miles</p>
        <p class="feed_date"> 22 September 2019</p>
      </div>
      <div class="feed_user">
        <img src="assets/icons/user-icon.jpg" width="90" height="90">
        <p class="feed_text">Candy canes topping dessert jelly beans pie jelly beans sweet roll. Toffee cotton candy cake
          chocolate cake.</p>
        <p class="name_user">Candy Miles</p>
        <p class="feed_date">22 September 2019</p>
      </div>
      <div class="feed_user">
        <img src="assets/icons/user-icon.jpg" width="90" height="90">
        <p class="feed_text">Candy canes topping dessert jelly beans pie jelly beans sweet roll. Toffee cotton candy cake
          chocolate cake.</p>
        <p class="name_user">Candy Miles</p>
        <p class="feed_date">22 September 2019</p>
      </div>
    </div>

  </div>

</div>
