<div class="search_cars">
  <!--SEARCH NAV BAR-->
  <div class="selMenu" *ngIf="currentSubMenu=='search'">
    <div class="selMenu1" (click)="goToSearchPage();">
      <img class="imageInSelMenu1" src="assets/icons/search-icon.png">
      <div class="textSelMenu" >Search</div>
    </div>

    <div class="selMenu2" (click)="goToFilterPage();">
      <img class="imageInSelMenu2" src="assets/icons/settings_icon.png">
    </div>

    <div class="selMenu3" (click)="goToMapPage();">
      <img class="imageInSelMenu3" src="assets/icons/coord-icon.png">
    </div>
    <div class="selMenuLine" style="float: left"></div>
  </div>

  <!--FILTER NAV BAR-->
  <div class="selMenu" *ngIf="currentSubMenu=='filters'">
    <div class="selMenu1" style="background-color: #062639" (click)="goToFilterPage();">
      <img class="imageInSelMenu1" src="assets/icons/settings_icon.png">
      <div class="textSelMenu">Filters</div>
    </div>

    <div class="selMenu2" style="background-color: #6C7E8B" (click)="goToMapPage();">
      <img class="imageInSelMenu2" src="assets/icons/coord-icon.png">
    </div>

    <div class="selMenu3" style="background-color: #EA2340" (click)="goToSearchPage();">
      <img class="imageInSelMenu3" src="assets/icons/search-icon.png">
    </div>
    <div class="selMenuLine" style="background-color: #062639"></div>
  </div>

  <!--MAP NAV BAR-->
  <div class="selMenu" *ngIf="currentSubMenu=='map'">
    <div class="selMenu1" style="background-color: #6C7E8B" (click)="goToMapPage();">
      <img class="imageInSelMenu1" src="assets/icons/coord-icon.png">
      <div class="textSelMenu">Map</div>
    </div>

    <div class="selMenu2" style="background-color: #062639" (click)="goToFilterPage();">
      <img class="imageInSelMenu2" src="assets/icons/settings_icon.png">
    </div>

    <div class="selMenu3" style="background-color: #EA2340" (click)="goToSearchPage();">
      <img class="imageInSelMenu3" src="assets/icons/search-icon.png">
    </div>
    <div class="selMenuLine" style="background-color: #6C7E8B"></div>
  </div>


  <div class="searchAndCars" >
    <div class="reg" [ngSwitch]="currentSubMenu">

<!--      SEARCH        -->
      <div id="menuSearch" *ngSwitchDefault>
        <p class="regLogSignTopHeader" style="margin-bottom: 20px;">Find your car now!</p>
        <input type="text" id="location" placeholder="Location" (mouseout)="onLocation($event)">
        <input type="datetime-local" id="from" placeholder="From" (mouseout)="onStartDate($event)">
        <input type="datetime-local" id="till" placeholder="Till" (mouseout)="onEndDate($event)">
        <br>
        <br>
        <p class="pSearch" style="color: #6C7E8B;">Sort by</p>
        <div class="priceSortSel" *ngIf="buttSel==true; else elseBlock">
          <div class="priceSortLowHigh"><p class="pSearch">Price (low to high)</p></div>
          <div class="priceSortHighLow" (click)="onHighToLow()"><p class="pSearch">Price (high to low)</p></div>
        </div>
        <ng-template #elseBlock>
          <div class="priceSortSel">
            <div class="priceSortLowHigh" (click)="onLowToHigh()" style="background: lightgrey"><p class="pSearch">Price
              (low to high)</p></div>
            <div class="priceSortHighLow" style="background: #6C7E8B"><p class="pSearch">Price (high to low)</p></div>
          </div>
        </ng-template>
        <div>
            <br><br><br><br>
            <div id="range_price">
              <span>Price range ($/per day):</span>
              <p class="searchStyleInput">{{minValue}} - {{maxValue}}</p>
              <br><br>
            </div>
        </div>
        <div id="slider-range">
          <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"
                      (valueChange)="onMinAmount()"
                      (highValueChange)="onMaxAmount()"></ng5-slider>
        </div>

      </div>

<!--      FILTERS        -->
      <div id="menuFilters" *ngSwitchCase="'filters'">
        <p class="regLogSignTopHeader" style="margin-bottom: 20px;">Find your car now!</p>
        <li><input type="text" list="" placeholder="Make"></li>
        <li><input type="text" list="" placeholder="Model"></li>
        <li><input type="text" list="" placeholder="Year"></li>
        <li><input type="text" list="" placeholder="Engine"></li>
        <li><input type="text" list="" placeholder="Fuel"></li>
        <li><input type="text" list="" placeholder="Transmission"></li>
        <li><input type="text" list="" placeholder="WD"></li>
        <li><input type="text" list="" placeholder="Horsepower"></li>
        <li><input type="text" list="" placeholder="Fuel consumption"></li>
      </div>

<!--      MAP         -->
      <div id="menuMap" *ngSwitchCase="'map'">
        <agm-map style="width: 600px; height: 900px" [latitude]="lat" [longitude]="lng">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
      </div>
      <div id="l1" style="bottom: 0; margin-right: 10px;"></div>
    </div>

    <app-gallery></app-gallery>
  </div>

</div>
