<nav class="topNav">
  <div class="iconNav"><img src="assets/logo.png"
                            [routerLink]="['']"></div>
  <div class="navMenu">
    <a routerLinkActive="active" [routerLink]="['/search']">Search</a>
    <a routerLinkActive="active" [routerLink]="['/upload']">Let the car work</a>
    <a>Terms of use</a>
    <a routerLinkActive="active" [routerLink]="['/register']">Sign up</a>
    <a routerLinkActive="active" [routerLink]="['/login']" (click)="auth.login()">Log in</a>
  </div>
</nav>
