<div id="carsList">
  <div id="carColumnLeft">
    <div style="margin-bottom: 20px;">
      <img src="assets/images/azlk2.png">
      <div class="carInfo">
        <div class="carTitle">MERCEDES-BENZ G-CLASS</div>
        <div class="carYear">2019</div>
        <div class="topPrice1">
          <div class="currency">$</div>
          <div class="amount">230</div>
          <div class="perDay">PER DAY</div>
        </div>
      </div>
    </div>
    <div style="margin-bottom: 20px;">
      <img src="assets/images/azlk2.png">
      <div class="carInfo">
        <div class="carTitle">MERCEDES-BENZ G-CLASS</div>
        <div class="carYear">2019</div>
        <div class="topPrice1">
          <div class="currency">$</div>
          <div class="amount">230</div>
          <div class="perDay">PER DAY</div>
        </div>
      </div>
    </div>
    <div style="margin-bottom: 20px;">
      <img src="assets/images/azlk2.png">
      <div class="carInfo">
        <div class="carTitle">MERCEDES-BENZ G-CLASS</div>
        <div class="carYear">2019</div>
        <div class="topPrice1">
          <div class="currency">$</div>
          <div class="amount">230</div>
          <div class="perDay">PER DAY</div>
        </div>
      </div>
    </div>
  </div>
  <div id="carColumnRight">
    <div style="margin-bottom: 20px;">
      <img src="assets/images/azlk2.png">
      <div class="carInfo">
        <div class="carTitle">MERCEDES-BENZ G-CLASS</div>
        <div class="carYear">2019</div>
        <div class="topPrice1">
          <div class="currency">$</div>
          <div class="amount">230</div>
          <div class="perDay">PER DAY</div>
        </div>
      </div>
    </div>
    <div style="margin-bottom: 20px;">
      <img src="assets/images/azlk2.png">
      <div class="carInfo">
        <div class="carTitle">MERCEDES-BENZ G-CLASS</div>
        <div class="carYear">2019</div>
        <div class="topPrice1">
          <div class="currency">$</div>
          <div class="amount">230</div>
          <div class="perDay">PER DAY</div>
        </div>
      </div>
    </div>
    <div style="margin-bottom: 20px;">
      <img src="assets/images/azlk2.png">
      <div class="carInfo">
        <div class="carTitle">MERCEDES-BENZ G-CLASS</div>
        <div class="carYear">2019</div>
        <div class="topPrice1">
          <div class="currency">$</div>
          <div class="amount">230</div>
          <div class="perDay">PER DAY</div>
        </div>
      </div>
    </div>
  </div>
</div>
