<!--////////////////////////////////////////////This our block with form add car///////////////////////////////////////////////////////-->

<form id="add_form" [formGroup]="uploadForm" (ngSubmit)="addCar()">
    <div style="padding-left: 200px">
      <p id="titl_1">Let the car work</p>
      <p id="titl_2">Candy canes topping dessert jelly beans pie jelly beans sweet roll. Toffee cotton candy cake
        chocolate
        cake. Bonbon
        gummi bears jelly-o bonbon fruitcake tootsie roll cake cookie gingerbread. Icing wafer pie pudding ice cream
        bonbon
        halvah bonbon topping. Donut halvah tiramisu bear claw tart.</p>

      <div>
        <p>Location:</p>
        <li>
          <input ngx-google-places-autocomplete [options]='options'
                 #placesRef="ngx-places"
                 (onAddressChange)="handleAddressChange($event)"/></li>
        <p>{{formattedAddress}}</p>
        <!--        <li><input type="text" list="test" placeholder="Country" formControlName="country" ></li>-->
        <!--        <li><input type="text" list="test" placeholder="City" formControlName="city"></li>-->
        <!--        <li><input type="text" list="test" placeholder="Street" formControlName="street"></li>-->
        <!--        <li><input type="text" list="test" placeholder="ZIP" formControlName="zip"></li>-->
        <button id="submit" type="button" (click)=getLocationData()></button>
      </div>

      <div>
      <p>Car details:</p>
        <li><input type="text" list="test" placeholder="Serial number" formControlName="serial_number"></li>
        <li><input type="text" list="test" placeholder="Make" formControlName="make"></li>
        <li><input type="text" list="test" placeholder="Model" formControlName="model"></li>
        <li><input type="text" list="test" placeholder="Year" formControlName="year"></li>
        <li><input type="text" list="test" placeholder="Engine" formControlName="engine"></li>
        <li><input type="text" list="test" placeholder="Fuel" formControlName="fuel"></li>
        <li><input type="text" list="test" placeholder="Transmission" formControlName="gear"></li>
        <li><input type="text" list="test" placeholder="WD" formControlName="wheels_drive"></li>
        <li><input type="text" list="test" placeholder="Doors" formControlName="doors"></li>
        <li><input type="text" list="test" placeholder="Seats" formControlName="seats"></li>
        <li><input type="text" list="test" placeholder="Fuel consumption" formControlName="fuel_consumption"></li>
        <li><input type="text" list="test" placeholder="Distance included" formControlName="distance_included"></li>
        <li><input type="text" list="test" placeholder="Car Class" formControlName="car_class"></li>
    </div>
      <div>
        <p>Price per day:</p>
        <input type="text" placeholder="Price" formControlName="price_per_day">
      </div>
      <div>
        <p>Features:</p>
        <input type="text" placeholder="Type feature" formControlName="features">
      </div>
      <div>
        <p>About:</p>
        <textarea maxlength="500" type="text" placeholder="About (max 500 chars)" formControlName="about"></textarea>
      </div>
      <div>
        <p>Image:</p>
        <input type="file" placeholder="Upload images" (change)="onFileSelected($event)"><br>
        <button type="button" (click)="onUpload()">Upload Image</button>
      </div>

      <button type="submit">Submit</button>

      <datalist id="test">
        <option>First</option>
        <option>Second</option>
        <option>Third</option>
      </datalist>
    </div>
</form>

<!--<div>-->
<!--  <p>Image:</p>-->
<!--  <input type="file" (change)="onFileSelected($event)">-->
<!--  <button type="button" (click)="onUpload()">Upload</button>-->
<!--</div>-->
<!--{{carService.dataJson.results[0]}}-->

