<div class="image_reg">
  <div class="main-image">
    <img src="assets/images/742079-PSISLA-798.png" style="height: 100%; width: 100%">
  </div>
  <div class="reg">
    <div id="signUpForm">
      <p class="regLogSignTopHeader" >Registration</p>
      <p class="regLogSignBotHeader" >Type your data and hit Yalla!</p>
      <input type="text" id="name" placeholder="Name">
      <input type="text" id="lastname" placeholder="Last name">
      <input type="text" id="email" placeholder="Email">
      <input type="text" id="password" placeholder="Password">
      <p class="pClass"> <input type="checkbox"> I agree to the terms of use and privacy policy.</p>
      <button type="submit" class="yallaButton">Y’alla!</button>
    </div>
    <div id="l1"></div>
  </div>
</div>

<app-base-info></app-base-info>
