<div class="bottom-header">
  <div class="topBotHeader" >
    <div class="descTextWhite" style=" width: 620px; padding: 0">
      Candy canes topping dessert jelly beans pie jelly beans sweet roll. Toffee cotton
      candy cake chocolate cake. Bonbon gummi bears jelly-o bonbon fruitcake tootsie
    </div>
    <div class="logo"><img src="assets/logo.png"></div>
    <div class="messengers" >
      <i class="fab fa-facebook-square"></i>
      <i class="fab fa-telegram"></i>
      <i class="fab fa-vk"></i>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-slack-hash"></i>
    </div>
  </div>
  <div class="botBotHeader">
    <div class="redBlockText">
      <div class="bigText" style="color: white; padding-left: 10%; padding-top: 12%">
        The ultimate <br>car rental service
      </div>
    </div>
    <div class="rightInfo">
      <div  class="navMenuBottom">
          <p>Search</p>
          <p>Let the car work</p>
          <p>Terms of use</p>
          <p>Sign up</p>
          <p>Log in</p>
      </div>
      <div class="line"><hr></div>
      <div class="citiesAndTel">
        <div class="cities">
          <div class="topCities">TOP CITIES</div>
          <div class="capitals">
            <li><a href="#">New York</a></li>
            <li><a href="#">Tokyo</a></li>
            <li><a href="#">Paris</a></li>
            <li><a href="#">London</a></li>
            <li><a href="#">Los Angeles</a></li>
            <li><a href="#">Vienna</a></li>
            <li><a href="#">Moscow</a></li>
            <li><a href="#">Warsaw</a></li>
            <li><a href="#">Berlin</a></li>
            <li><a href="#">Seattle</a></li>
          </div>
        </div>
        <div class="numberAndContact">
          <div class="bigTextRed" >08-616-8800-55</div>
          <div class="descTextWhite" style="text-align: right">1600 Amphitheatre Pkwy Mountain View, CA 94043, USA</div>
        </div>
      </div>
    </div>
  </div>
</div>
